body {
    font-family: Arial, sans-serif;
    margin: 0;
  }


  .container-logos{
    width: 100%;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    margin-bottom: 15px;
  }
  
  .logo-1 {
    width: 9%;
    height: auto;
  }

  .logo-2 {
    width: 25%;
    height: auto;
  }

  .container {
    max-width: 45%;
    margin: 0 auto;
    /* display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 4px;  */
  }
  
  
  .formClass{
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 5px;
    padding: 10px;
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: block; /* Cambio a display: block; */
  }
  
  #button-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .center-text {
    display: flex;
    justify-content: center;
  }

  
/* Estilos para textarea y input uno debajo del otro */
textarea,
input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

/* CSS modificado */
.form-group textarea,
.form-group input[type="number"] {
    margin-bottom: 10px; /* Espacio entre los elementos */
    display: block; /* Hacer que cada elemento esté en su propia línea */
}

/* Contenedor de botones */
.container-buttons{
  background-color: #e2e2e2;
  border-radius: 7px; /* Le da los bordes al contenedor*/
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around; /*Muevo los  botenes Jira y Excel*/
  margin-top: 15px;
  height: 35px;
}
/* Contenedor de botones Cierre */

.BtnJira {
  border-radius: 7px;
  border-color: #1387f3;
  background-color: rgba(4, 115, 243, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

  .BtnExcel {
  border-radius: 7px;
  border-color: #04d855;
  background-color: rgba(23, 202, 97, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.BtnJira:hover{
  background-color: #e9ebf0;
  color: #1387f3;
}
.BtnExcel:hover{
  background-color: #e9ebf0;
  color: #06a034;
}

.BtnGenerar{
  border-radius: 4px;
  border-color: #038dff;
  background-color: rgba(9, 131, 245, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  height: 30px;
}

.BtnLimpiar{
  border-radius: 4px;
  border-color: #ec4166;
  background-color: rgba(187, 63, 125, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  height: 30px;
}

.BtnGenerar:hover{
  background-color: white;
  color: #038dff;
}

.BtnLimpiar:hover{
  background-color: white;
  color: #ec4166;
}
