body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: green;
  }


  .container-logos{
    width: 100%;
  }
  .logo-container {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    /* background-color: #e2e2e2; */
    /* margin-bottom: 15px; */
  }
  
  .logo-1 {
    width: 9%;
    height: auto;
  }

  .logo-2 {
    width: 30%;
    height: auto;
  }

  .container {
    max-width: 45%;
    margin: 0 auto;
    /* display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 4px;  */
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .formClass{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: block; /* Cambio a display: block; */
  }
  
  #button-container {
    width: 33%;
    display: flex;
    justify-content: space-between;
  }
  
  .center-text {
    display: flex;
    justify-content: center;
  }

  
/* Estilos para textarea y input uno debajo del otro */
textarea,
input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

/* CSS modificado */
.form-group textarea,
.form-group input[type="number"] {
    margin-bottom: 10px; /* Espacio entre los elementos */
    display: block; /* Hacer que cada elemento esté en su propia línea */
}

/* Contenedor de botones */
.container-buttons{
  background-color: white;
  border-radius: 7px; /* Le da los bordes al contenedor*/
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around; /*Muevo los  botenes Jira y Excel*/
  margin-top: 15px;
  height: 50px;
}
/* Contenedor de botones Cierre */

.BtnJira {
  border-radius: 7px;
  border-color: #1387f3;
  background-color: rgba(4, 115, 243, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 17px;
  height: 50px;
  width: 30%;
}

  .BtnExcel {
  border-radius: 7px;
  border-color: #04d855;
  background-color: rgba(23, 202, 97, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 17px;
  height: 50px;
  width: 30%;
}

.BtnJira:hover{
  background-color: white;
  color: #1387f3;
}
.BtnExcel:hover{
  background-color: white;
  color: #06a034;
}

.BtnGenerar{
  border-radius: 4px;
  border-color: #038dff;
  background-color: rgba(9, 131, 245, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  height: 35px;
  width: 100px;
}

.BtnLimpiar{
  border-radius: 4px;
  border-color: #ec4166;
  background-color: rgba(187, 63, 125, 0.863);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  height: 35px;
  width: 100px;
}

.BtnGenerar:hover{
  background-color: white;
  color: #038dff;
}

.BtnLimpiar:hover{
  background-color: white;
  color: #ec4166;
}

/* Fondo del formulario */
.background-img{
  background-image: url('FondoTestConnect.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 100%;
  height: 100%;
}
/* Fondo del Formulario - Cierre */

/* Inputs decoracion  */

.textarea-number{
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid lightslategray;
  margin-top: 5px;
}

.input-number{
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid lightslategray;
  margin-top: 5px;
  /* color: white; */
}

/* .label-form{
  margin-bottom: 500px;
  padding-bottom: 500px;
} */

/* Inputs decoracion - Cierre */